@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("../components/input.css");
@import url("../components/button.css");
body {
  font-family: "Dancing Script", cursive;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin: 40px;
  margin-bottom: 20px;
}

.input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 18px;
  font-weight: bolder;
  color: darkslateblue;
  margin-bottom: 5px;
}

.form-input {
  width: 250px;
}

.error-message {
  color: red;
  font-size: 15px;
}

.password-container {
  position: relative;
}

.form-hidden {
  position: absolute;
  top: 33px;
  right: 8px;
  font-size: 12px;
}

.form-button {
  margin-top: 12px;
  background-color: green;
}

.form-button:hover {
  background-color: black;
  transition: 1s ease-in;
}

.right {
  float: right;
}

.form-link {
  color: green;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
